:root {
  /* ===== Colors ===== */
  --clr-bg: #fff9fb;              
  --clr-surface: #ffffff;         
  --clr-primary: #572649;         
  --clr-primary-light: #f5c4d4;  
  --clr-accent: #ffdbe8;         
  --clr-text: #333333;
  --clr-muted: #777777;
  --clr-border: #fef8f8;
  --clr-bright: #ff6f91;

  /* ===== Typography ===== */
  --ff-heading: 'Roboto', sans-serif;
  --ff-body: 'Open Sans', sans-serif;


  --max-width: 70rem;
  --radius: 0.40rem;
}

body {
  line-height: 1.7;
  margin: 0;
}

.container {
  width: min(90%, 70rem);
  
}

.header {
  background: var(--clr-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 0;
  z-index: 10;
}

.header__content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.nav__list {
  display: flex;
  gap: 2.3rem;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  align-items: space-between;
}

.nav__link {
  font-family: var(--ff-heading);
  color: var(--clr-bg);
  text-decoration: none;
  font-weight: 600;
  display: block;
  height: 100%;
  padding: 0.5rem;
}

.nav__link:is(:hover, :focus){
  color: var(--clr-accent);
  text-decoration: underline;
}

.header__logo-icon {
  color: var(--clr-primary);
  width: 8rem;
  height: auto;
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
  background-color: var(--clr-primary);
  
}

/* call out */
.article {
  background-image: 
  linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0)),
  url('../images/blog-image-adventurers.jpg');
  background-position: center;
  background-size: cover;
  align-items: flex-start;
  text-align: right;
  position: relative;
}

.article .container{
display: flex;
padding-top: 6rem;
min-height: 90vh;
padding-bottom: 18rem;
}

.article__content {
  display: flex;
  flex-direction: column;
}

.article__title {
  font-family: var(--ff-heading);
  color: var(--clr-primary-light);
  font-weight: 500;
}

.org__article{
  color: var(--clr-primary-light);
}

.org__article:hover{
  color: var(--clr-primary);
}

.article__info {
  display: flex;
  flex-direction: column;
  color: var(--clr-bg);
  font-size: 1rem;
  padding-top: 2rem;
  font-family: var(--ff-body);
  font-weight: 300;
}

.article__tag {
  list-style-type: none;
}

.article__intro {
  padding: 2.5rem 10rem;
  font-family: var(--ff-body);
  font-weight: 300;
}

.article__callout {
  
  flex: flex;
  background-color: var(--clr-muted);
  padding: 1rem 3rem;
  
  text-align: left;
  margin-left: 10rem;
  margin-right: 10rem;
  font-family: var(--ff-body);
  border: 5px solid var(--clr-primary);
  border-radius: var(--radius);
  color: var(--clr-bg);
}

.article__callout-title {
  text-decoration: underline;
}

.article__callout-content{
  margin-bottom: 0;
}

/* content */
.article__reason{
  padding-top: 2.5rem ;
  padding-bottom: 2.5rem;
  font-family: var(--ff-body);
  font-weight: 300;
}

.article__heading{
  color: var(--clr-primary);
  font-family: var(--ff-heading);
  padding-left: 10rem;
  font-size: 1.75rem;
}

.article__heading-small{
  padding: .05rem 10rem;
  font-size: 1.25rem;
  font-family: var(--ff-heading);
}

.article__paragraph{
  padding: 1rem 10rem;
  font-family: var(--ff-body);
  font-weight: 300;
}

.article__img{
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 1rem;
}

.article__img-robot{
   padding: 2rem 4rem;
}
.article__tips {
  padding-left: 10rem;
  padding-right: 10rem;
  font-family: var(--ff-body);
}

.related{
  padding: 1rem 10rem;
  margin-bottom: 1rem;
  
}

.related__link {
  color: var(--clr-text);
  padding-top: 1rem;
   font-family: var(--ff-body);
}

.related__list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: (1, 1fr);
  gap: 1.5rem;
  max-width: 50rem;
  padding-inline: 1.5rem;
  
}

.related__item{
 background-color: var(--clr-accent);
 border-radius: var(--radius);
 padding-top: 1rem;
 padding-left: 1rem;
 padding-right: .75rem;
  
}


.related__title{
  color: var(--clr-primary);
  font-family: var(--ff-heading);
  font-size: 1.75rem;
  padding-top: 1.5rem;
}

.related__author {
  font-family: var(--ff-body);
}

/* footer */ 

.footer {
 background-color: var(--clr-primary);
 color: var(--clr-bg);
 padding-block: 1rem;
 text-align: center;
 gap: 0.5rem;
 }

.footer__content {
  max-width: 70rem;
  margin-inline: auto;
  padding-inline: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer__logo-icon {
  color: var(--clr-primary);
  width: 8rem;
  height: auto;
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
  background-color: var(--clr-primary);
  
}

.footer-nav__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  font-family: var(--ff-heading);
  justify-content: space-around;
  color: var(--clr-bg);
}

.footer-nav__link {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--clr-bg);
  position: relative;
  transition: var(--transition);
  font-weight: 600;
}

.footer-nav__link:hover,
.footer-nav__link:focus{
  color: var(--clr-primary-light);
  text-decoration: underline;
}
.footer__logo-icon {
  color: var(--clr-primary);
  width: 8rem;
  height: auto;
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
  background-color: var(--clr-primary);
}


.footer__legal {
  margin-top: .25rem;
  padding-top: .25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.footer__copy {
  color: var(--clr-muted);
  margin-bottom: 0.75rem;
}

.footer__policy{
 list-style: none;
  display: flex;
  justify-content: center;
  gap: 1.25rem;
  padding: 0;
  margin: 0;
}

.footer__policy-link {
  color: var(--clr-bg);
  text-decoration: none;
  font-size: 0.9rem;
}

@media only screen and (min-width:45em){
.article__title{
  font-size: 2.2rem;
}

.article__heading, 
.article__heading-small{
 padding-left: 4rem;
}

.article__intro, 
.article__paragraph, 
.article__callout{
  padding-inline: 4rem;
}
.related__list{
  grid-template-columns: repeat(2, 1fr);
}

.footer__content{
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--max-width);
}

.article__img,
.article__img-robot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.article__img img,
.article__img-robot img {
    width: 85%;
    max-width: 35rem;
  }
}

@media only screen and (min-width:60em){
.article__intro, 
.article__paragraph, 
.article__callout{
  padding-inline: 8rem;
}

.article__heading, 
.article__heading-small
{
  padding-left: 8rem;
}

.related__list{
  grid-template-columns: repeat(3, 1fr);
}

.footer-nav__list{
  gap: 2rem;
}

.article__img,
.article__img-robot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 8rem;
  }

.article__img img,
.article__img-robot img {
    width: 80%;
    max-width: 40rem;
  }
}


